<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/register.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 text-center"><h1>로그인</h1></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      {{error}}
    </div>
  </div>
  <div class="container">
    <div class="row mt-5"> 
      <div class="col-12 text-center">
        <form method="POST" action=".">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              <input
                type="{{ field.field.widget.input_type }}"
                class="form-control"
                id="{{ field.id_for_label }}"
                placeholder="{{ field.label }}"
                name="{{ field.name }}"
              />
            </div>
            {% if field.errors %}
            <span style="color: red;">{{ field.errors }}</span>
            {% endif %} 
          {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
    </div>
  </div> 
</body>
</html>