<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/register.css">
  <title>회원가입</title>
</head>
<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 text-center"><h1>회원가입</h1></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      {{error}}
    </div>
    <div class="col-12">
      {{success}}
    </div>
  </div>
  <div class="container">
    <div class="row mt-5"> 
      <div class="col-12 text-center">
        <form method="POST" action=".">
          {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="username" name="username">        
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="password" name="password">
            </div>
            <div class="form-group">
              <label for="re-password">Re-Password</label>
              <input type="password" class="form-control" id="re-password" placeholder="re-password" name="re-password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div> 
</body>
</html>