<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/register.css">
    <!-- <script defer rel="stylesheet" href="/static/js/index.js"></script> -->
    <title>{{name}}</title>
</head>
<body onload="css()">
    <div class="row mt-5">
        <div class="col-12">{{member}}님 안녕하세요</div>
    </div>
    <div class="row mt-5">
        <div class="col-12">{{visit_count}}번 방문하셨네요</div>
    </div>
    <div class="row mt-5">
        <div class="col-12">아래 동그라미는 {{member}}님의 정치색입니다</div>
    </div>
    <div class="wrapper">
        <div class="color-text" style="display: none">{{color}}</div>
        <div class="circle"></div>
    </div>
</body>
<script defer src ="{% static 'js/index.js' %}"></script>
</html>